html {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/*react-rater styles*/
.react-rater {
    color: #ccc !important;
}

.is-active {
    transition: 0.75s;
    color: #f7a01a;
}

.will-be-active {
    transition: 0.75s;
    color: #ffd535;
}
