html {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.responsivePanel {
    height: 93%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 1%;
    left: 1%;
    background-color: #1e7f7e;
    overflow-x: hidden;
    padding-top: 5%;
    transition: 0.5s;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    color: #757575;
}

.toVisitPanelTitle {
    font-size: 2em;
    text-align: center;
    color: #FFFFFF;
    transition: 0.3s;
}

.toVisitPanelItem {
    font-size: 20px;
    background-color: #5f9ea0;
    transition: 0.3s;
    text-align: center;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    margin: 2px, 0;
}

.ToVisitFooter {
    margin-left: 17px;
    transition: 0.3s;
}

.ToVisitFooterItem {
    margin-left: 5px;
    font-size: 20px;
    color: #818181;
    transition: 0.3s;
}


/* On smaller screens, where height is less than 450px, change the style of the ToVisitPanel (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .ToVisitPanel {
        padding-top: 15px;
    }
    .ToVisitPanel a {
        font-size: 18px;
    }
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

.Main {
    transition: margin-left .5s;
    padding-left: 275px;
}


/*react-rater styles*/
.react-rater {
    color: #ccc !important;
}

.is-active {
    transition: 0.75s;
    color: #f7a01a;
}

.will-be-active {
    transition: 0.75s;
    color: #ffd535;
}
